// Layout

.container {
    max-width: 650px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}


// Header
.header {
    padding-top: 6rem;
}

// Footer
.footer {
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 2.5rem;
    color: $white;
    clip-path: polygon(
        0 12vw,
        100% 0%,
        100% 100%,
        0 100%
    );

    @include breakpoint(medium) {
        padding-top: 8rem;
    }

    @include breakpoint(large) {
        padding-top: 9rem;
    }

    @include breakpoint(xxlarge) {
        padding-top: 11rem;
    }
}
