// Fonts

@font-face {
    font-family: 'brandon-grotesque';
    src: url('../../static/webfonts/brandon-grotesque-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'vollkorn';
    src: url('../../static/webfonts/vollkorn-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
